/*
三種selector的優先度
Id > Class > Tag
Id在一個畫面之中只能用一次
Class可以重複使用
一個Element只能有一個Id, 但可以有很多個Class
*/
/**********Tag selectors**********/

body {
    font-family: 'Merriweather', serif;
    text-align: center;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    /* 
    瀏覽器沒有任何縮放時16px = 100% = 1em
    px不會隨著瀏覽器縮放而改變大小，%、em則會跟著瀏覽器縮放改變
    rem：忽略parent的設定，直接採用本身的設定
    推薦使用rem
     */
    font-size: 5.625rem;
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
    margin-top: 0px;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px
}

/**********Class selectors**********/

.top-container {
    background-color: #EAF6F6;
    height: 400px;
    position: relative;
}

.middle-container {
    background-color: #eae9e9;
}

.tableAlignCenter {
    margin-left: auto;
    margin-right: auto;
}

.circle-image {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-top: 0px;
}

.viainno {
    color: #ffaaa5;
    font-size: 25px;
}

.pro {
    text-decoration: underline
}

.marginZero {
    margin: 0;
}

.title {
    font-size: 1.5rem;
    margin-top: 0px;
    padding-top: 10px;
}

/**********Id selectors**********/

/* #heading {
    color: blue;
} */