/*
三種selector的優先度
Id > Class > Tag
Id在一個畫面之中只能用一次
Class可以重複使用
一個Element只能有一個Id, 但可以有很多個Class
*/
/**********Tag selectors**********/

body {
    font-family: 'Merriweather', serif;
    background-color: #EAF6F6;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    color: #66BFBF;
    font-family: 'Sacramento', cursive;
}

h3 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

h3:hover {
    color: black;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

/**********Class selectors**********/

.topBar {
    height: 80px;
    position: relative;
    margin-top: 10px;
}

.textAlignCenter {
    text-align: center;
}

.tableAlignCenter {
    margin-left: auto;
    margin-right: auto;
}

.topBarImage {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    top: 15px;
    left: 15px;
}

.viainno {
    color: #ffaaa5;
    font-size: 25px;
}

.pro {
    text-decoration: underline
}

.marginZero {
    margin: 0;
}

/**********Id selectors**********/

/* #heading {
    color: blue;
} */